@import 'tailwindcss';

@theme {
  --color-primary: var(--color-blue-500);
  --color-primary-hover: var(--color-blue-600);
  --color-primary-active: var(--color-blue-700);
  --color-on-primary: var(--color-white);

  --color-secondary: var(--color-orange-500);
  --color-secondary-hover: var(--color-orange-600);
  --color-secondary-active: var(--color-orange-700);
  --color-on-secondary: var(--color-white);

  --color-surface: var(--color-white);
  --color-surface-hover: var(--color-gray-100);
  --color-surface-active: var(--color-gray-200);

  --color-background: var(--color-white);

  --font-default: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
